# Default config
# copy this file to config.toml to edit it
listen_ip = "127.0.0.1"
listen_port = 8080

[database]
host = "localhost"
port = 3306
user = "vta_sync"
# comment out to leave blank
password = "changeme"
db = "vta_sync"